#menuBar {
  text-align: center;
  list-style: none;
  border: 5px dotted white;
  /* display: inline-block; */
  display: center;
  word-spacing: 100px;
  margin: auto;
  color: fill;
}
/* #homeBanner{
  background-image: url(https://images.pexels.com/photos/771881/pexels-photo-771881.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-position: center 30%;
  position: absolute;
  top: 50px;
  height: 400px;
  width: 100vw;
} */
body.city {
  background-image: url(https://cdn.pixabay.com/photo/2016/01/19/17/59/new-york-city-1150012_1280.jpg);
  background-size: cover;
}
#banner {
  font-size: 75px;
  color: white;
  text-align: center;
  margin: auto;
}
#menuBar a {
  color: white;
}
.main {
  background-color: 	#D3D3D3;
}

/* div.cultures img {
  filter: blur(1px);
  height: 100%;
  background-size: cover;
  position: absolute;
  z-index: -1;
  opacity: .7;
} */

#menuBar a:hover {
  color: lightblue;
}

/* #banner:hover {
  color: green;
} */

#option {
  text-align: center;
}
/* #reason {
  text-align: center;
  font-size: 40;
  font-style: italic;
  font-weight: bold;
  margin: 0px;
} */

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

#lupe {
  background-color: lavender;
}



.pics {
  height: 175px;
  width: 175px;
}


#cultures p {
  font-size: 25px;
}

#intro p{
  font-size: 25px;
  font-style: italic;
  text-align: center;
  border: 3px double black;
  color: black;
  margin: 3vw;
}








/*  */
